<!DOCTYPE html>

<head>

    <title>Books List</title>
</head>

<body class="book_list">
    {% extends "dashbase.html" %} {% block content %}
    <div class="book_list">
        <h1>Books List</h1>

        {% if books %} {% for book in books %}
        <form action="/user/book/rent/{{ rental.book_id }}" method="post">
            <li>>{{ book.book_name }}
        </form>
        by {{ book.author }} ({{ book.book_id }})</li>
        {% else %}
        <p>No books found.</p>
        {% endfor %}{% endif %}
    </div>
    {% endblock %}
</body>