<!DOCTYPE html>

<head>

    <title>Books List</title>
</head>

<body class="book_list">
    {% extends "dashbase.html" %} {% block content %}
    <div class="book_list">
        <h1>Books List</h1>

        {% if books %}
        <ol>
            {% for book in books %}
            <li>{{ book.book_name }} by {{ book.author }} ({{ book.book_id }})</li>
            {% endfor %}
        </ol>
        {% else %}
        <p>No books found.</p>
        {% endif %}
    </div>
    {% endblock %}
</body>