<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>LibSys(User Login)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body class="b2">
    <div class="sllb2">
        <h2 class="h2"><strong>User Login</strong></h2>
        <h4 style="color: #4A7FAD;">Welcome back! Please Enter your Name</h4>
        <form>
            <input type="password" name="Name" placeholder="Name" class="i2" required>
            <input type="submit" value="Login" class="sb2">
        </form>
    </div>
  </body>
</html>