{% extends "dashbase.html" %} {% block content %}

<head>
    <title>Add Rental</title>
</head>

<body>
    <h1>Add Rental</h1>
    <form method="POST">
        <label for="book_id">Book ID:</label>
        <select id="book_id" name="book_id" required>
        <option value="{{book.id}}" selected>Select a book</option>
        {% for book in books %}
            <option value="{{ book.id }}">{{ book.id }}</option>
        {% endfor %}
        </select>
        <label for="user_id">User ID:</label>
        <input type="text" id="user_id" name="user_id" required>
        <label for="rental_date">Rental Date:</label>
        <input type="date" id="rental_date" name="rental_date" required>
        <label for="for_how_long">Number of Days:</label>
        <input type="number" id="for_how_long" name="for_how_long" required>
        <button type="submit" onclick="window.location.href='/librarian/rentals'">Add Rental</button>
    </form>
</body>

{% endblock %}