<body>
    {% extends "dashbase.html" %} {% block content %}
    <h1>Books List</h1>

    <table>
        <thead>
            <tr>
                <th> Book ID </th>
                <th> Book Name </th>
                <th> Book Author </th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td> {{ book.book_id }} </td>
                <td> {{ book.book_name }} </td>
                <td> {{ book.author }} </td>
            </tr>
            {% endfor %}
        </tbody>


    </table>

    <form action="/librarian/books/addpopup" method="get">
        <button type="submit" calss="right-column">Add Book</button>
    </form>

    <form action="/librarian/books/removepopup" method="get">
        <button type="submit" calss="right-column">Remove Book</button>
    </form>

    <div class="pagination">
        {% if page > 1 %}
        <a href="{{ url_for('librarian_books', page=page-1) }}">&laquo; Previous</a> {% endif %}
        <span>Page {{ page }} of {{ total_pages }}</span> {% if page
        < total_pages %} <a href="{{ url_for('librarian_books', page=page+1) }}">Next &raquo;</a>
            {% endif %}
    </div>
    {% endblock %}
</body>