{% extends "dashbase.html" %} {% block content %}
<h1>Remove user</h1>
<form action="/librarian/users/removeuser" method="post">
    <label for="user_id">User ID:</label>
    <select name="user_id" method="GET" action="/">
        <option value="{{users[0]['user_id']}}" selected>{{users[0]['user_id']}}</option>
        {% for user in users[1:] %}
            <option value="{{user['user_id']}}">{{user['user_id']}}</option>
        {% endfor %}
        </select>
    <button type="submit">Remove User</button>
    <button type="button" onclick="window.history.back();">Cancel</button>
</form>
{% endblock %}