{% extends "dashbase.html" %} {% block content %}

<head>

    <title>Manage Rentals</title>
</head>

<body class="rental_list">
    <h1 style="text-align: center; text-decoration: underline;">Manage Rentals</h1>
    <div class="centered">
        <button onclick="location.href='/librarian/rentals/viewRentals'" class="btn1" style="text-align: center;">View Rentals</button>
        <button onclick="location.href='/librarian/rentals/addRental'" class="btn2" style="text-align: center;">Add Rental</button>
    </div>
</body>
{% endblock %}