a{
    font-palette: #000;
}

.gl {
  height: 5px;
  width: 40%;
  background-image: linear-gradient(to right, #3397C8, #47AAA4, #75D752);
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 5%;
}

header{
    text-align: center;
}

.lb{
    height: 180px;
    width: 250px;
    background-color: #97FF71;
    opacity: 56%;
    border: hidden;
    border-radius: 12.5%;
}

.ub{
    height: 180px;
    width: 250px;
    background-color: #73D1FF;
    opacity: 56%;
    border: hidden;
    border-radius: 12.5%;
}

.bg{
    display: flex;
    gap: 20%;
    margin: 0 auto;
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 2%;
}