a{
    font-palette: #000;
}

.gl {
  height: 5px;
  width: 40%;
  background-image: linear-gradient(to right, #3397C8, #47AAA4, #75D752);
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 5%;
}

header{
    text-align: center;
}

.lb, .ub {
    height: 180px;
    width: 250px;
    background-color: #97FF71;
    opacity: 56%;
    border: hidden;
    border-radius: 12.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 15px;
    font-size: 18px;
}

.ub {
    background-color: #73D1FF;
}

.lb:hover{
    cursor: pointer;
    opacity: 100%;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.ub:hover{
    cursor: pointer;
    opacity: 100%;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.l, .u {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 0 10px 0;
    display: block;
}

.bg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
}

.b{
        background-color: #E4FFC5;
        opacity: 96%;
    }

    .sllb {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start; /* text at top */
        height: 430px;
        margin: 3% auto;
        width: 450px;
        padding: 20px;
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
    .sllb form {
        margin-top: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sllb .h {
        font-family: 'Arial', sans-serif;
        color: #3E5C3A;
        margin-bottom: 10px;
    }

    .sllb .i {
        width: 80%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .sllb .sb {
        width: 50%;
        padding: 10px;
        background: linear-gradient(90deg, #568B4F 0%, #96ff88 100%);
        color: white;
        font-size: 16px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 0 2px 8px rgba(51, 151, 200, 0.10);
        transition: background 0.2s, transform 0.2s;
        margin-top: 100px;
    }
.ll{
    text-decoration: none;
    color: black;
}

